:host {
  width: 70vw;
  padding: 2rem 0;

  #actions-top {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .body {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .action {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
