<div id="actions-top">
    <button (click)="addNewList()" mat-raised-button color="primary">Add new List</button>
</div>

<mat-accordion *ngIf="todos$ | async as todos">
  <mat-expansion-panel *ngFor="let list of todos; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>list</mat-icon>
      </mat-panel-title>
      <mat-panel-description> List number {{ i + 1 }} </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="body">
      <div>
        <p *ngFor="let todo of list.todos; let itemIndex = index">
          <button
            (click)="deleteItem(list.id, itemIndex, list.todos)"
            mat-icon-button
          >
            <mat-icon>delete</mat-icon>
          </button>
          {{ todo }}
        </p>
        <ng-container *ngIf="newItem | async">
          <mat-form-field appearance="fill">
            <mat-label>New Item</mat-label>
            <input
              matInput
              type="text"
              (keyup.enter)="addNew(list.id, newTodo.value, list.todos)"
              #newTodo
            />
          </mat-form-field>
          <button
            (click)="addNew(list.id, newTodo.value, list.todos)"
            mat-icon-button
          >
            <mat-icon>check</mat-icon>
          </button>
        </ng-container>
      </div>
      <div class="action">
        <button (click)="newItem.next(true)" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="deleteList(list.id)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
