<div *ngIf="loginTemplate$ | async; then loginTemplate; else registerTemplate"></div>

<ng-template #loginTemplate>
  <div>
    <h1>Login</h1>
    <form [formGroup]="loginForm" (submit)="login()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
    <p (click)="this.loginTemplate$.next(false)">
      Don't have an account yet? Click here to register
    </p>
  </div>
</ng-template>

<ng-template #registerTemplate>
  <div>
    <h1>Register</h1>
    <form [formGroup]="registerForm" (submit)="register()">
      <mat-form-field appearance="fill">
        <mat-label>Display Name</mat-label>
        <input matInput formControlName="displayName" type="text" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
    <p (click)="loginTemplate$.next(true)">
      Already have an account? Click here to login
    </p>
  </div>
</ng-template>
